# Build
build/
cmake-build-*/
out/

# IDE
.vs/
.vscode/
.idea/
*.swp
*.swo
*~

# Compiled
*.o
*.obj
*.exe
*.out
*.app
*.dll
*.so
*.dylib
*.lib
*.a

# SFML
sfml/
SFML-*/
SFML_ROOT/

# Misc
*.log
.DS_Store
Thumbs.db
